.start {
  height: 85%;

  display: block;
}

/* background no css, para facilitar a manutenção do código, foi criado um background no css para o teste.html . */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  url(img/box_baixo.png);
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

/* Icone do adobe */
.imagem_2 {
  align-self: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

/* todos os textos */
section {
  color: white;
  font-size: 30px;
  padding: 10%;
  text-align: center;
  width: auto;
}

/* paragráfo pra deixar os links arrumados e bonitos */
p {
  color: white;
  font-size: 30px;
  padding: 20px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}

/* coisas do github */

.git {
  text-transform: none;
  color: gray;
  font-size: 28px;
  text-decoration: none;
  margin: 0 10px 0 10px;
  align-self: center;
}


